<form [formGroup]="addMenuForm" (ngSubmit)="onSubmit()">
  <div class="container d-flex flex-column">
    <label for="">Name</label>
    <input type="text" formControlName="name" />
    <label for="">Description</label>
    <input type="text" formControlName="description" />
    <label for="">Price</label>
    <input type="number" formControlName="price" />
    <label for="">Image</label>
    <input
      type="file"
      #fileInput
      formControlName="image"
      (change)="uploadFile($event)"
    />
    <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
</form>
