<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>Locales abiertos:</h1>
    <div *ngFor="let i of locales" class="card" [routerLink]="['/local', i.id]">
      <img class="img-resto img-fluid" [src]="i.imageUrl" alt="" />
      <div class="card-body">
        <div class="row title-rating-wrapper">
          <div class="col-5 d-flex flex-row align-items-center">
            <img
              class="img-fluid weed-logo"
              src="../../../assets/images/weedlogo.png"
              alt=""
            />

            <h5 class="card-title">{{ i.name }}</h5>
          </div>
          <div class="col-7">
            <div class="rating row">
              <div class="col-7 d-flex align-items-center">
                <img src="../../../assets/images/motologo.webp" alt="" />
                <div class="free-shipping">Envío Gratis</div>
              </div>
              <div
                class="col-5 d-flex justify-content-center align-items-center"
              >
                <p>
                  <img src="../../../assets/images/star.png" alt="" />
                  {{ i.rating }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
